/* Desktop */
@mixin section-bar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid #ef513c;
}

@media (min-width: 768px) {
  body {
    #toolbar {
      box-shadow: rgb(0 0 0 / 30%) 0 2px 8px 0;

      #top-bar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        background-color: rgb(62, 62, 62);

        .menu {
          display: flex;
          justify-content: flex-end;
          flex-direction: row;
          align-items: center;
          align-content: center;
          flex: 1 1 auto;
          vertical-align: middle;
          height: 36px;
          line-height: 36px;
          gap: 16px;

          a {
            color: white;
            font-size: 17px;
          }

          li:last-child {
            margin-right: 20%;
          }
        }
      }

      #bottom-bar {
        display: flex;
        background: white;
        //justify-content: space-between;
        width: 100%;

        #first-item {
          display: flex;
          color: black;
          //background: red;
          width: 100%;

          #nav-bar {
            display: flex;
            width: 100%;

            .menu {
              display: flex;
              justify-content: flex-end;
              flex-direction: row;
              align-items: center;
              align-content: center;
              flex: 1 1 auto;
              vertical-align: middle;
              height: 80px;
              line-height: 80px;
              gap: 36px;
              width: 100%;

              //background: blue;
              a {
                font-size: 17px;
                color: black;
              }

              li:last-child {
                margin-right: 20%;
              }

              .btn {
                border: 2px solid black;
                background-color: white;
                padding: 14px 28px;
                font-size: 16px;
                cursor: pointer;
                color: #ec5242;
                border-color: #ec5242;
              }
            }
          }

          #logo-placeholder {
            vertical-align: middle;
            height: 80px;
            line-height: 80px;
            margin: auto 15%;

            img {
              margin-top: 5px;
            }
          }
        }

        #second-item {
          display: none;
          // #menu-icon {
          //     display: none;
          // }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;

      //About
      #about-partner {
        display: none;
      }

      #challenge-history {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto 70px;
        text-align: center;
        gap: 20px;

        .challenge-history-line {
          width: 100%;
          height: 16px;
          border-bottom: 1px solid #a09c9c;
        }

        .take-look {
          width: 80%;
        }

        .history-image {
          width: 60%;
        }

        .challenge-history-list {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0 auto 70px;
          text-align: center;
          gap: 20px;

          .challenge-history-item {
            width: 100%;
          }
        }
      }

      #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: auto;

        #title {
          color: #ec5242;
          text-align: center;
          text-transform: uppercase;
          width: 60%;
          font-size: xx-large;
          font-weight: bold;
          margin: 50px auto;
        }

        #description {
          padding: 1em;
          font-size: 19px;
          height: auto;
          width: 60%;
          text-align: center;
          background-color: white;
          margin-top: 3em;
        }
      }

      //background-size: 100% 100%;
      //padding: 120px;
      #intro {
        width: 100%;
        height: auto;
        margin: 0;
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        //text-align: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        background-image: url("../../../assets/images/mobile_intro_bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 3em;

        #description {
          width: 631px;
          margin-left: 0;
          align-self: flex-start;
        }

        #when {
          align-self: flex-start;
          margin-left: 0;
          text-align: left;
        }

        #where {
          align-self: flex-start;
          margin-left: 0;
          margin-bottom: 3em;
        }
      }

      #main-program {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        color: #fff;
        text-align: center;
        padding-top: 60px;
        justify-content: center;
        align-content: center;
        height: auto;
        width: 100%;

        .program {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex: 1 1 auto;
          gap: 0.5em;
          margin: auto;
          width: 100%;

          .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.1);
            gap: 10px;
            width: calc(16% - 3px);
            height: 228px;
            margin: 0;
            flex-basis: auto;
            //width: 95%;

            #title {
              width: 100%;
              color: #ef513c;
              font-size: 1.5em;
              font-weight: bold;
              text-align: center;
            }

            #description {
              margin-left: 7px;
              flex-shrink: 4;
              text-align: center;
              padding: 10px;
            }
          }
        }

        #join-program {
          border: 2px solid black;
          background-color: #ec5242;
          font-weight: bolder;
          padding: 14px 28px;
          font-size: 16px;
          cursor: pointer;
          color: white;
          border-color: #ec5242;
          display: none;
        }

        #see-more-program {
          display: block;
        }
      }

      #speakers {
        width: 100%;
        margin: 70px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;

        .card-list {
          width: calc(100% - 32px);
          display: grid;
          justify-content: center;
          grid-template-columns: 40% 40%;
          gap: 10px;
          //margin: auto 10%;

          .card {
            display: flex;
            width: 100%;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: nowrap;
            gap: 16px;
            flex: 1 1 auto;
            justify-content: flex-start;

            .right {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 16px;
            }
          }
        }

        .see-more-btn {
          display: none;
        }
      }

      #partner {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #333;
        width: 100%;
        color: #fff;
        padding-top: 50px;
        padding-bottom: 50px;

        .partner-bar {
          @include section-bar;

          margin: 0 auto 54px;
        }

        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
        }
      }
    }

    footer {
      width: 100%;
      display: flex;
      height: 200px;
      align-items: center;
      justify-content: center;
      padding-top: 3em;
      padding-bottom: 1.5em;
      gap: 5em;
      flex-wrap: wrap;

      #footer-img {
        width: 10%;
      }

      p {
        flex-shrink: 3;
      }
    }

    //Footer

    #about-footer {
      background-color: #424244;
      color: white;
    }
  }
}
