/* Mobile */
@mixin section-bar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid #ef513c;
}

body {
  #toolbar {
    width: 100%;
    //position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    #top-bar {
      .menu {
        display: none;
      }
    }

    #bottom-bar {
      display: flex;
      //position: fixed;
      top: 36px;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      background: transparent;

      #first-item {
        display: none;
      }

      #first-item.active {
        display: flex;
        color: black;
        //background: red;
        width: 100%;
        top: 10px;

        #nav-bar {
          display: flex;
          width: 90%;
          flex-direction: column;

          /*   .menu {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        align-items: center;
                        align-content: center;
                        flex: 1 1 auto;
                        height: auto;

                        gap: 36px;
                        width: 100%;

                        //background: blue;
                        a {
                            font-size: 17px;
                            color: black;
                        }

                        li:last-child {
                            margin-right: 20%;
                        }

                        .btn {
                            border: 2px solid black;
                            background-color: white;
                            color: black;
                            padding: 14px 28px;
                            font-size: 16px;
                            cursor: pointer;
                            color: #ec5242;
                            border-color: #ec5242;
                        }
                    } */

          .menu {
            position: fixed;
            left: 0;
            text-justify: left;
            padding-left: 40px;
            top: 38px;
            gap: 30px;
            z-index: 2;
            display: flex;
            mix-blend-mode: normal;
            box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
            flex-direction: column;
            background: white;
            width: 100%;
            height: 80%;
            text-align: left;
            transition: 0.4s;
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            border: 2px solid white;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            overflow: auto;

            .btn {
              border: 2px solid black;
              background-color: white;
              padding: 14px 28px;
              font-size: 16px;
              cursor: pointer;
              color: #ec5242;
              border-color: #ec5242;
            }
          }
        }

        #logo-placeholder {
          display: none;
        }
      }

      #second-item {
        #cancel-icon {
          display: none;
        }

        #menu-icon {
          align-self: flex-start;
          margin-top: 20px;
          margin-left: 35px;
          width: 22px;
        }

        #cancel-icon.active {
          display: block;
          visibility: visible;
          align-self: flex-start;
          margin-top: 20px;
          margin-left: 35px;
          width: 22px;
          background: #272a31;
        }

        #menu-icon.active {
          display: none;
          visibility: hidden;
          margin-left: 24px;
        }
      }
    }
  }

  .content {

    //padding: 120px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex: 1 1 auto;
    margin: auto 24px;

    //About

    #about {
      background-image: url("../../../assets/images/mobile_intro_bg.png");
      background-repeat: repeat-x;
      // height: 855px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: auto;

      #title {
        color: #ec5242;
        text-align: center;
        text-transform: uppercase;
        width: 80%;
        font-size: xx-large;
        font-weight: bold;
        margin: 40px auto;
      }

      #description {
        padding: 1em;
        font-size: 19px;
        height: auto;
        width: 90%;
        text-align: center;
        background-color: white;
        margin: 54px auto;
      }

      #know-more {
        text-align: center;
        width: 90%;
      }

      #email {
        margin: 0 auto 54px;
      }
    }

    //About Foot

    #about-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      margin: 50px 16px;
      text-align: center;
      gap: 16px;

      img {
        width: 30%;
      }
    }

    #logo-history {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 70px auto;
      text-align: center;

      h1 {
        width: 80%;
      }

      .logo-history-bar {
        @include section-bar;

        margin: 0 auto 54px;
      }

      p {
        margin: 0 auto 34px;
        width: 90%;
      }

      img {
        width: 60%;
      }
    }

    #challenge-history {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto 70px;
      text-align: center;
      gap: 20px;

      .challenge-history-line {
        width: 100%;
        height: 16px;
        border-bottom: 1px solid #a09c9c;
      }

      p {
        width: 80%;
      }

      img {
        width: 60%;
      }
    }


    #intro {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin: 51px 30px;

      img {
        width: 90%;
      }

      p:first-child {
        background: red;
      }

      #description {
        width: 95%;
        line-height: 150%;
        height: auto;
        text-align: justify;
        word-break: break-all;
        border: 4px solid #fff;
        background-color: #f7f7f8;
        padding: 10px 25px 0;
        font-size: 1.125em;
      }

      #when {
        font-size: 35px;
        color: #575757;
        font-weight: bold;
        width: 90%;
        display: inline-block;
        text-align: center;
        margin-bottom: 4px;
        letter-spacing: 0;
      }

      #where {
        margin: 17px auto 0.75em;
        font-size: 30px;
        width: 90%;
      }
    }

    #main-program {
      margin: 17px 0 0.75em;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      background: #333;
      color: #fff;
      text-align: center;
      padding-top: 60px;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      height: auto;

      h1 {
        font-size: 30px;
      }

      .program-bar {
        @include section-bar;

        margin: 0 auto 54px;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 auto;
        gap: 0.5em;
        margin: auto;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.1);
          gap: 10px;
          height: auto;
          margin: auto;
          flex-basis: auto;
          width: 95%;

          #title {
            //width: 120px;
            width: 30%;
            //padding: 0.5em;
            color: #ef513c;
            font-size: 16px;
            font-weight: bold;
            justify-self: center;
            text-align: left;
          }

          #description {
            margin-left: 7px;
            flex-shrink: 4;
            text-align: left;
            padding: 10px;
          }
        }
      }

      #join-program {
        border: 2px solid black;
        background-color: #ec5242;
        font-weight: bolder;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        color: white;
        border-color: #ec5242;
        display: block;
        margin: 40px auto;
      }

      #see-more-program {
        display: none;
        text-decoration: underline;
        color: #fff;
        margin: 40px auto;
      }
    }

    #speakers {
      width: 100%;
      margin: 60px 16px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;

      .speaker-bar {
        @include section-bar;
      }

      .card-list {
        width: calc(100% - 32px);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 40px;
        margin: 50px auto;

        .card {
          display: flex;
          width: 100%;
          align-items: flex-start;
          align-content: flex-start;
          flex-wrap: nowrap;
          gap: 16px;
          flex: 1 1 auto;
          justify-content: flex-start;

          .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .line {
              width: 30px;
              border: 1px solid #818181;
              margin-top: 0.5em;
            }

            .name {
              font-size: 23px;
              font-weight: bolder;
            }

            .title {
              font-style: italic;
              font-size: 1rem;
              color: #ec5242;
              font-weight: bold;
            }

            .bio {
              font-style: italic;
              color: #818181;
              font-size: 1rem;
            }
          }
        }
      }

      .see-more-btn {
        display: block;
        color: #272a31;
        background: red;
        width: 90%;
        height: 40px;
        background-color: #fff;
        border: 2px solid #d3d3d3;
        border-radius: 4px;
        font-weight: bold;
      }

      .see-more-btn.hidden {
        //display: none;
        color: blueviolet;
      }

      .see-more-btn:hover {
        display: block;
        color: #272a31;
        width: 90%;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.553);
        border: 2px solid #b9b6b6;
        border-radius: 4px;
        font-weight: bold;
      }
    }

    #partner {
      display: none;
    }

    //about

    footer {
      display: none;
    }

    #about-partner {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #333;
      width: 100%;
      color: #fff;
      padding-top: 50px;
      padding-bottom: 50px;

      .partner-bar {
        @include section-bar;

        margin: 0 auto 54px;
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 90%;
      }
    }
  }
}
