@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Lato');
}

*,
*::before,
*::after {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

/* body settings */
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: auto;
  flex: 1 1 auto;

  ul {
    list-style: none;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
}
